/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-cgb-block-floating-caption-block  {
  position: relative;
  margin: 0 auto 2em auto;
  width: 100%;
  display: table;

  .fcb-bg-block-no-image{
    min-height:200px;
    border:solid 1px #aaaaaa;
  }

  @media screen and (min-width:600px){
    .fcb-bg-block-no-image,
    .fcb-bg-block{
      width:60%;
    }
  }

  .fcb-caption{
    width:80%;
    padding:1rem;
    box-shadow:2px 2px 6px #888;
    margin-top:-10%;
    position: relative;

    @media screen and (min-width:600px){
      width:50%;
      margin-top:-20%;
    }
  }

  .img-right{
    .fcb-caption{
      margin-right:auto;
    }
    .fcb-bg-block, .fcb-bg-block-no-image{
      margin-left:auto;
    }
  }

  .img-left{
    .fcb-caption{
      margin-left:auto;

    }
    .fcb-bg-block, .fcb-bg-block-no-image{
      margin-right:auto;
    }
  }

  .image-button{
    padding:0;
    border:0;
    box-shadow: none;
  }

  .button-large{
    position:absolute;
    top:20px;
    left:20px;
  }
}
