/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.wp-block-cgb-block-floating-caption-block  {
  position: relative;
  margin: 0 auto 2em auto;
  max-width: 100%;
  display: table;

  .fcb-bg-block{
    width:100%;

    @media screen and (min-width:600px){
      width:60%;
    }
  }

  .fcb-caption{
    width:80%;
    padding:1rem;
    box-shadow:2px 2px 6px #888;
    margin-top:-10%;
    position: relative;

    @media screen and (min-width:600px){
      width:50%;
      margin-top:-20%;
    }
  }

  .img-right{
    .fcb-caption{
      margin-right:auto;
    }
    .fcb-bg-block, .fcb-bg-block-no-image{
      margin-left:auto;
    }
  }

  .img-left{
    .fcb-caption{
      margin-left:auto;

    }
    .fcb-bg-block, .fcb-bg-block-no-image{
      margin-right:auto;
    }
  }

}
